<h1>Listing procedures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Specialty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @procedures.each do |procedure| %>
  <tr>
    <td><%= procedure.name %></td>
    <td><%= procedure.specialty_id %></td>
    <td><%= link_to 'Show', procedure %></td>
    <td><%= link_to 'Edit', edit_procedure_path(procedure) %></td>
    <td><%= link_to 'Destroy', procedure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Procedure', new_procedure_path %>
